h1{
margin: 15px 15px 15px 15px;	
text-align: center;
font-family: Montserrat , Merriweather ;
font-size: 36px;
}
body{
	background-color: white;

}

#p1{  height: 200px;
		background-color: grey;
	margin: 10px;
	border: 5px solid black;
	float:left;
}
#p2{ height: 200px;
		background-color: grey;
	margin: 10px;
	border: 5px solid black;
	float :left;
}
#p3{height: 200px;
		background-color: grey;
	margin:10px;
	border: 5px solid black;
	float:left;
}
@media(min-width: 992px){
#p1{
	width:30%; 
}
#p2{
	width:30%;
}
#p3{
	width:30%;
}
}
@media(min-width: 796px)and (max-width:991px){
	#p1{
		width:45%;
	}
	#p2{
		width:45%;

	}
	#p3{
		width :93%;
	}


}
@media(max-width: 767px){
#p1{
	width: 90%;
}
#p2{
	width: 90%;

}
#p3
{
	width :90%;
}
}
